site_name: Climate Resource Hub
site_description: The database of all things climate, curated by YOUNGO Science WG.
site_author: Jaloliddin Ismailov

theme:
  name: material
  custom_dir: overrides
  palette:
    - scheme: default
      primary: teal
      accent: green
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: light green
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: VT323
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - navigation.indexes
    - toc.integrate

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Edu: education.md
  - Research: research.md
  - Data & Tech: data.md
  - Careers: careers.md
  - Finance: invest.md
  - Info: about.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - toc:
      permalink: true

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/unnobatroo/resource-hub

repo_url: https://github.com/unnobatroo/resource-hub
repo_name: Resource Hub
